﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

    <title>Effective Error Page Flat Responsive Widget Template :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Effective Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/ErrorPageTemplate/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/ErrorPageTemplate/js/jquery.min.js"></script>
    <!-- //js -->
    <!-- font-awesome icons -->
    <link href="~/ErrorPageTemplate/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
<br />
<br />
    <div class="main">
        
        <canvas id="myCanvas"></canvas>
        <div class="agileinfo_404_main">
            <h1>Authorization Could Not Be Found!</h1>
            <div class="w3_agile_main">
                <h2>Houston, we have a problem</h2>
                <p>To see this page, you must create an account or login to system. If you are seeing that page despite that you've logged in, then you do not have required permissions to see this page.</p>
                <div class="agile_404 w3layouts">
                    <div class="agile_404_pos">
                        <h3>4<span>0</span>4<img src="~/ErrorPageTemplate/images/1.png" alt=" " /> </h3>
                    </div>
                    <img src="~/ErrorPageTemplate/images/3.png" alt=" " class="w3l" />
                </div>
            </div>
           
                <div class="clear"> </div>
            </div>
            @*<div class="agileits_copyright">
                <p>© 2018 LiveCampus | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
            </div>*@
        </div>
    </div>
    <script src="~/ErrorPageTemplate/js/particles.min.js"></script>
    <script>
      window.onload = function() {
        Particles.init({
          selector: '#myCanvas',
          color: '#6b6b6b',
          connectParticles: true,
          minDistance: 100
        });
      };
    </script>