﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LiveCampus</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")"><img src="~/images/LiveCampusLogoTransaparan.png" width="80" height="60" /></a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    
                    @if (Session["Student"] != null)
                    {
                        <li>@Html.ActionLink("List Educations", "ListEducations", "Student")</li>
                        <li>@Ajax.ActionLink("Connect as Sharer", "ConnectAsSharer", "Connection", new AjaxOptions { HttpMethod = "POST", OnSuccess = "alert('Please open your winform application!');" })</li>
                        <li>@Ajax.ActionLink("Connect as Viewer", "ConnectAsViewer", "Connection", new AjaxOptions { HttpMethod = "POST", OnSuccess = "alert('Please open your winform application!');" })</li>


                        if ((Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.IsAdmin)
                        {
                            <li>@Html.ActionLink("Admin Page", "Index", "Admin")</li>
                        }

                    }
                    <li>@Html.ActionLink("Forum", "Index", "Forum")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Grade Competition", "GradeCompetition", "Student")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><input id="autocomplete1" type="text" placeholder="Type a username" class="form-control" style="margin-bottom:-30px;display:inline-block" /></li>
                    <li><div class="btn btn-danger form-control" id="btnSearchUser" style="margin-bottom:-30px;display:inline-block">Search</div></li>

                    @Html.Partial("_LgnPartial")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <div style="float:right">
                @if (Session["Student"] != null)
                {
                    @Html.Action("FriendsPanelPartial", "Chat")
                    //@Html.Partial("../Chat/FriendsPanelPartial")
                }
            </div>
            <p>&copy; @DateTime.Now.Year - LiveCampus</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



<script type="text/javascript">
    $(function () {
        var usernames;

        $.when($.ajax({
            method: "POST",
            url: '@Url.Action("GetAllUsernames","User")',
            success: function (usernameList) {
                usernames = usernameList;
            }
        })).done(function () {

            $("#autocomplete1").shieldAutoComplete({
                dataSource: {
                    data: usernames
                },
                minLength: 1
            });
        });

        $('#btnSearchUser').click(function () {

            var username = $('#autocomplete1').val();
            var userID;
            $.ajax({
                method: "POST",
                url: '@Url.Action("GetIDByUsername","User")',
                data:{username:username},
                success: function (ID) {
                    userID = ID;
                    var link='@Url.Action("UserProfile","User",new { ID=0})';
                    link=link.replace("/0","/"+userID);
                    window.location.href = link;
                }
            });
        });

    });

</script>