﻿@model TeachLearnWeb.FormData.ChatController.ChatFormData



@{
    string SenderUsername = (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.Username;
    string SenderNameSurname = (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).NameSurname;
    string receiverConnectionID = Model.ReceiverConnectionID;
    string senderConnectionID = Model.SenderConnectionID;
    string receiverUsername = Model.ReceiverUsername;
}



@*<script src="~/Scripts/ChatPanel.js"></script>*@
<link href="~/Content/ChatPanel.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        @*Kullanıcı Profil Fotosunu da getir!!!!!!!!!!!!!VE ONLINE DURUMUNU!!!!!!!!!!!!!!!!!!!!!!*@
        var chatProxy = $.connection.signalRChatHub;


        @*chatProxy.client.appendNewMessage=function(name,message){

            if(name=='@Model.SenderUsername'){
                $('#msgContainer').append('<div class="row msg_container base_sent"><div class="col-md-10 col-xs-10"><div class="messages msg_sent"><p>'+message+'</p><time datetime="2009-11-13T20:00">'+@Model.SenderNameSurname +'• 51 min</time></div></div><div class="col-md-2 col-xs-2 avatar"><img src="@Model.SenderPPBase64" class="img-responsive"></div></div>');
            }
            else
            {
                $('#msgContainer').append('<div class="row msg_container base_receive"><div class="col-md-2 col-xs-2 avatar"><img src="@Model.ReceiverPPBase64" class="img-responsive"></div><div class="col-md-10 col-xs-10"><div class="messages msg_receive"><p>'+message+'</p><time datetime="2009-11-13T20:00">@Model.ReceiverNameSurname • 51 min</time></div></div></div>');
            }
        };*@


        @*('@Html.Raw(@Model.SenderUsername)',$('#btn-input').val()));*@

        chatProxy.client.receiveMessage = function (msgFrom, msg, status) {
            //alert('Message Sent');
            var dt=new Date();
            var time = dt.getHours() + ":" + dt.getMinutes();

            if (status == "Receiver") {
                $('#msgContainer').append('<div class="row msg_container base_sent"><div class="col-md-10 col-xs-10"><div class="messages msg_sent"><p>' + msg + '</p><time datetime="2009-11-13T20:00">@SenderNameSurname• ' + time + '</time></div></div><div class="col-md-2 col-xs-2 avatar"><img src=@Model.SenderPPBase64 class="img-responsive"></div></div>');
            }
            else {
                $('#msgContainer').append('<div class="row msg_container base_receive"><div class="col-md-2 col-xs-2 avatar"><img src="@Model.ReceiverPPBase64" class="img-responsive"></div><div class="col-md-10 col-xs-10"><div class="messages msg_receive"><p>' + msg + '</p><time datetime="2009-11-13T20:00">@Model.ReceiverNameSurname •' + time + '</time></div></div></div>');
            }

            //$('#msgContainer')
            //    .append('<div class="row msg_container base_sent"><div class="col-md-10 col-xs-10"><div class="messages msg_sent"><p>' + $('#btnID').val() + '</p><time datetime="2009-11-13T20:00">Timothy • 51 min</time></div></div><div class="col-md-2 col-xs-2 avatar"><img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive "></div>')
        };

        @*chatProxy.client.receiveMessage = function (msgFrom, msg) {
            alert('Message Sent');
            @*if (msgFrom == '@Model.SenderUsername') {
            $('#msgContainer').append('<div class="row msg_container base_sent"><div class="col-md-10 col-xs-10"><div class="messages msg_sent"><p>' + msg + '</p><time datetime="2009-11-13T20:00">@Model.SenderNameSurname• 51 min</time></div></div><div class="col-md-2 col-xs-2 avatar"><img src=@Model.SenderPPBase64 class="img-responsive"></div></div>');
            @*}
            else {
                $('#msgContainer').append('<div class="row msg_container base_receive"><div class="col-md-2 col-xs-2 avatar"><img src="@Model.ReceiverPPBase64" class="img-responsive"></div><div class="col-md-10 col-xs-10"><div class="messages msg_receive"><p>' + message + '</p><time datetime="2009-11-13T20:00">@Model.ReceiverNameSurname • 51 min</time></div></div></div>');
            }

            //$('#msgContainer')
            //    .append('<div class="row msg_container base_sent"><div class="col-md-10 col-xs-10"><div class="messages msg_sent"><p>' + $('#btnID').val() + '</p><time datetime="2009-11-13T20:00">Timothy • 51 min</time></div></div><div class="col-md-2 col-xs-2 avatar"><img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive "></div>')
        };*@

        $.connection.hub.start().done(function () {
            try {
                $.connection.signalRChatHub.server.hubconnect('@SenderUsername', '@Html.Raw(@SenderNameSurname)', '@senderConnectionID');
                @{ senderConnectionID = (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.SignalRConnectionID;}
            } catch (e) { alert(e.message); }

            $('#btn-chat').click(function () {
                if ($('#btn-input').val() != "") {
                    var message = $('#btn-input').val();
                    @*@{
                        string conID= (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.Conversations.FirstOrDefault(w => w.Participants.Select(s => s.Username).Contains(receiverUsername)).Participants.SingleOrDefault(w=>w.Username==receiverUsername).SignalRConnectionID;
                        receiverConnectionID = conID; }*@

                    chatProxy.server.send_PrivateMessage('@Model.SenderUsername', message, '@Model.ReceiverUsername');
                }
                $('#btn-input').val("");
                $('#btn-input').focus();
            });

            

        });



        @*chatProxy.client.appendNewMessage = function (name, message) {
            alert('Message Sent');
            if (name == '@Model.SenderUsername') {
                $('#msgContainer').append('<div class="row msg_container base_sent"><div class="col-md-10 col-xs-10"><div class="messages msg_sent"><p>' + message + '</p><time datetime="2009-11-13T20:00">' +@Model.SenderNameSurname +'• 51 min</time></div></div><div class="col-md-2 col-xs-2 avatar"><img src="@Model.SenderPPBase64" class="img-responsive"></div></div>');
            }
            else {
                $('#msgContainer').append('<div class="row msg_container base_receive"><div class="col-md-2 col-xs-2 avatar"><img src="@Model.ReceiverPPBase64" class="img-responsive"></div><div class="col-md-10 col-xs-10"><div class="messages msg_receive"><p>' + message + '</p><time datetime="2009-11-13T20:00">@Model.ReceiverNameSurname • 51 min</time></div></div></div>');
            }
        };*@


    });

    function registerEvents(chatHub) {
        try {
            chatHub.server.connect('@Model.SenderNameSurname', '@Model.ReceiverConnectionID');
        } catch (e) { alert(e.message); }
    }

</script>

<div class="container">
    <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> @Model.ReceiverNameSurname</h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim" onclick="hideConversation"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1" onclick="closeConversation"></span></a>
                    </div>
                </div>

                <div id="msgContainer" class="panel-body msg_container_base">


                    @foreach (var message in Model.Messages)
                    {
                        if (message.Sender.Username == SenderUsername)
                        {
                            <div class="row msg_container base_sent">
                                <div class="col-md-10 col-xs-10">
                                    <div class="messages msg_sent">
                                        <p>
                                            @message.MessageContent
                                        </p>
                                        <time datetime="2009-11-13T20:00">@Model.SenderNameSurname • @message.SendTime.ToLocalTime()</time>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-2 avatar">
                                    <img src="@Model.SenderPPBase64" class="img-responsive">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row msg_container base_receive">
                                <div class="col-md-2 col-xs-2 avatar">
                                    <img src="@Model.ReceiverPPBase64" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <div class="messages msg_receive">
                                        <p>
                                            @message.MessageContent
                                        </p>
                                        <time datetime="2009-11-13T20:00">@Model.ReceiverNameSurname • 51 min</time>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
