﻿@*@{
        ViewBag.Title = "Deneme";
    }

    <h2>Deneme</h2>
    <head>
        <script src="~/Scripts/signalr-client-1.0.0-alpha2-final.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <script src="~/SignalR/Hubs"></script>
        <script>
            //let connetion = new signalR.HubConnection('/ChatHub');
            var chat = $.connection.chatHub;

            //connection.on('GetMessage', data=> {
            //    if ($('#messageList').val().length > 0) {
            //        $('#messageList').append("\n" + data);
            //    }
            //    else {

            //    }
            //});

            connection.on('SetConnectionId', data=> {
                console.log("ConnectionID:" + data);
            });
            connection.start();

            function SendMessage() {
                var text = $('#message').val();
                $('message').val("");
                var message = $.trim(text);
                connection.invoke("SendMessage", message);
            }

            $(function () {
                $('#message').focus();

                $('#message').keypress(function (e) {
                    if (e.which == 13) {
                        SendMessage();
                    }
                });
            });
        </script>





    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h3>.Net Core 2.0 SignalR & Mvc</h3>
            </div>
            <hr>
            <b><i>Mesaj :</i></b><input type="text" id="message" style="width: 525px; padding: 2px; border: 1px solid rgb(18, 178, 241)">
            <input type="button" id="btnSend" onclick="SendMessage()" value="Gönder" class="btn btn-success">
            <textarea cols=90 rows="15" id="messageList"></textarea>
        </div>
    </body>*@


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SignalR One to One Chat</title>
</head>
<body>
    <!--Add reference to the JQuery file-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- Add reference to the minified version of the SignarR client library -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!-- Add reference to the auto-generated proxy file -->
    <script src="signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            

        });

    </script>



