﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.User>

<head>
    <link href="~/Content/ChatPanel.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {

            $('#friendList').on('click', 'button', function () {

                var ID = $(this).attr('name');

                $.ajax({
                    url: '../Chat/ChatPanel',
                    type: 'GET',
                    dataType: 'html',
                    data: { userID: ID },
                    //timeout: 2000,
                    //cache: false,
                    success: function (pw) {
                        //$('#chatPanel').html('HEY');
                        $('#chatPanel').html(pw);
                    },
                    error: function (e) { alert(e.message); }
                });
            });


            var count = $('#friendList li').length-2;

            @*for (var i = 1; i <= count; i++) {
                var strID = i.toString();
                $('#Friend-' + i.toString()).click(function (e) {
                    
                    var ID = $('#Friend-' + strID).attr("name");
                    e.preventDefault();
                    //$('#chatPanel').load('/Chat/ChatPanel?userID=' + ID, function () { alert('OLDUUUUUUU!');});

                    @*$('#chatPanel').append(@Html.Action("ChatPanel","Chat",new { userID=ID}));*@
                    //$.post('../Chat/ChatPanel', { userID: ID }, function (data) { $('#chatPanel').html(data); alert(data);})
                    //$.keepalive =
                        //setInterval(function () {
                            
            @*$.ajax({
                                url: '../Chat/ChatPanel',
                                type: 'GET',
                                dataType: 'html',
                                data: { userID: ID },
                                //timeout: 2000,
                                cache: false,
                                success: function (pw) {
                                    $('#chatPanel').html('HEY');
                                    $('#chatPanel').html(pw);
                                },
                                error: function (e) { alert(e.message); }
                            });
                        //},6000);
                });
            }*@
        });
    </script>
</head>
<body>
    <div class="btn-group dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>&emsp; Friends
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul id="friendList" class="dropdown-menu" role="menu">
            @if (Model == null)
            {
                @*<li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>*@
                <li><span class="glyphicon glyphicon-remove-sign"></span>There are no available online friends at the moment!</li>
            }
            @if (Model != null)
            {
                int counter = 1;
                foreach (var item in Model)
                {
                    <li><button type="button" id="Friend-@counter" name="@item.ID">@item.Student.NameSurname</button></li>
                    counter++;
                }
            }
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Go Offline!</a></li>
        </ul>
    </div>
    <div id="chatPanel"></div>
</body>