<!-- INCLUDE overall_header_simplified.html -->

<div class="login_container<!-- IF S_ADMIN_AUTH --> login_container_admin_auth<!-- ENDIF -->">
    <div class="login_container_left">
        <div class="login_container_left_section_content fancy_panel base animated fadeIn">
        	<div class="login_container_padding login_form">
                <form action="{S_LOGIN_ACTION}" method="post" id="login" data-focus="<!-- IF S_ADMIN_AUTH -->{PASSWORD_CREDENTIAL}<!-- ELSE -->{USERNAME_CREDENTIAL}<!-- ENDIF -->">
                    <h2 class="login-title"><!-- IF LOGIN_EXPLAIN -->{LOGIN_EXPLAIN}<!-- ELSE -->{L_LOGIN}<!-- ENDIF --></h2>
                
                    <fieldset <!-- IF not S_CONFIRM_CODE -->class="fields1"<!-- ELSE -->class="fields2"<!-- ENDIF -->>
                        <!-- IF LOGIN_ERROR --><div class="error">{LOGIN_ERROR}</div><!-- ENDIF -->
                        <div>
                            <label for="{USERNAME_CREDENTIAL}">{L_USERNAME}</label>
                            <input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" class="inputbox" />
                        </div>
                        <div>
                            <label for="{PASSWORD_CREDENTIAL}">{L_PASSWORD}</label>
                            <input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" class="inputbox" autocomplete="off" />
                        </div>
                        <!-- IF S_DISPLAY_FULL_LOGIN and (U_SEND_PASSWORD or U_RESEND_ACTIVATION) -->
                            <div>                    
                                <!-- IF S_AUTOLOGIN_ENABLED --><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="4" /> {L_LOG_ME_IN}</label><!-- ENDIF -->                            
                            </div>
                        <!-- ENDIF -->
                        <!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
                            <div>
                                <!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
                                <!-- INCLUDE {CAPTCHA_TEMPLATE} -->
                            </div>
                        <!-- ENDIF -->
                
                        {S_LOGIN_REDIRECT}
                        {S_HIDDEN_FIELDS}
                        <input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="button2 specialbutton" />
                    </fieldset>            
                </form>
                <!-- IF not S_ADMIN_AUTH and PROVIDER_TEMPLATE_FILE -->
                    <!-- INCLUDE {PROVIDER_TEMPLATE_FILE} -->
                <!-- ENDIF -->
                <!-- IF U_SEND_PASSWORD -->
                	<div class="login_form_forgot_link">
						<a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a>
                    </div>
                <!-- ENDIF -->
				<!-- IF U_RESEND_ACTIVATION -->
                	<div class="login_form_forgot_link">
                    	<a href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a>
                    </div>
                <!-- ENDIF -->                
            </div>
        </div>
    </div>
    
	<!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
    <div class="login_container_right">
        <div class="login_container_right_section_content fancy_panel base animated fadeIn"> 
			<div class="login_container_padding"> 
                <h3>{L_REGISTER}</h3>
                <p class="login_container_info">{L_LOGIN_INFO}</p>
                <p><strong><a href="{U_TERMS_USE}">{L_TERMS_USE}</a> | <a href="{U_PRIVACY}">{L_PRIVACY}</a></strong></p>
                <p><a href="{U_REGISTER}" class="button2 specialbutton">{L_REGISTER}</a></p>
            </div> 
        </div>
    </div> 
	<!-- ENDIF -->             

</div><!-- /.login_container -->

<script type="text/javascript">

</script>

<!-- INCLUDE overall_footer_simplified.html -->
