<div class="top_bar base">

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      
    <ul class="menu">
      <!-- IF U_SITE_HOME --><li><a href="{U_SITE_HOME}">{L_SITE_HOME}</a></li><!-- ENDIF -->
      <li class="active"><a href="{U_INDEX}">{L_FORUMS}</a></li>
      <!-- IF H2O_SETTINGS_HTML_4 -->{H2O_SETTINGS_HTML_4}<!-- ENDIF -->
    </ul>
    
    <div class="social_links_header">
        {H2O_SETTINGS_HTML_3}
        <!-- IF U_SEARCH --><a href="{U_SEARCH}" class="navbar_top_search"><span class="icon fa-search"></span></a><!-- ENDIF -->
    </div>
    
</div><!-- /.navbar-top -->