<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}

<title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF --></title>

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{{ path('phpbb_feed_index') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{{ path('phpbb_feed_news') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{{ path('phpbb_feed_forums') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{{ path('phpbb_feed_topics') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{{ path('phpbb_feed_topics_active') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{{ path('phpbb_feed_topic', { topic_id : S_TOPIC_ID } ) }}"><!-- ENDIF -->
	<!-- EVENT overall_header_feeds -->
<!-- ENDIF -->

<!-- IF U_CANONICAL -->
	<link rel="canonical" href="{U_CANONICAL}">
<!-- ENDIF -->

<!-- IF H2O_FORUM_FAVICON -->
	<link rel="icon" href="{H2O_FORUM_FAVICON}" />
<!-- ENDIF -->

<!--
	phpBB style name: H2O
	Based on style:   Merlin Framework (http://www.planetstyles.net)
-->

<!-- IF S_ALLOW_CDN -->
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:600:cyrillic-ext,latin,greek-ext,greek,vietnamese,latin-ext,cyrillic']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
<!-- ENDIF -->

<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600" rel="stylesheet">
<style type="text/css">body {font-family: "Titillium Web", Arial, Helvetica, sans-serif; font-size: 16px;}</style>


<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">

<!-- IF H2O_SETTINGS_CONFIG_COLOUR_PRESET != 'No Custom Colour' -->
    <!-- IF H2O_SETTINGS_CONFIG_COLOUR_PRESET == 'Custom (Use colour picker below)' -->
        <style type="text/css">
			/* Color */
			a:hover, .navbar_footer a, .copyright_bar a, .social_links_footer a:hover span, .icon.fa-file.icon-red, a:hover .icon.fa-file.icon-red, .navigation .active-subsection a, .navigation .active-subsection a:hover, .navigation a:hover, .tabs .tab > a:hover, .tabs .activetab > a, .tabs .activetab > a:hover, a.postlink, a.postlink:visited, .navbar_in_header .badge, .button:focus .icon, .button:hover .icon, .button-secondary:focus, .button-secondary:hover, .notification_unread, .top_bar li a:hover, .top_bar li.active a, .forum_id, a:link, a:visited, .forumlist_grid .grid_colour_overlay:hover, .site-description h1  {color: #{H2O_SETTINGS_CONFIG_COLOUR_PICKER};}
			/* Background Solid  */
			.pagination li a:hover, .pagination li.active span, .pagination li a:focus, .jumpbox-cat-link, .dropdown-contents > li > a:hover, a.no_avatar:hover, .jumpbox-cat-link:hover, input.button1:focus, input.button2:focus, input.button3:focus, .specialbutton, input.specialbutton, .panel .specialbutton, a.specialbutton, .scrollToTop, a.specialbutton, .dark_base .social_links_footer a:hover span, .topic_type, .badge, .grid_unread, a.navbar_top_search:hover, .navbar, body.content_block_header_stripe li.header:before, .no_avatar, .forumbg-table, .sidebar_block_stripe:before, .fancy_panel:before, a.button1, input.button1, input.button3, a.button2, input.button2  {background-color: #{H2O_SETTINGS_CONFIG_COLOUR_PICKER};}
			/* Borders Dark */
			.pagination li a:hover, .pagination li.active span, .pagination li a:focus, blockquote, .codebox code, .jumpbox-cat-link, a.postlink, input.button1:focus, input.button2:focus, input.button3:focus, input.specialbutton, .inputbox:hover, .inputbox:focus, .specialbutton, .button:hover, .button:focus, a.specialbutton, .dark_base .social_links_footer a span, .dark_base .social_links_footer a:hover span, .top_bar li a:hover, .top_bar li.active a, a.navbar_top_search  {border-color: #{H2O_SETTINGS_CONFIG_COLOUR_PICKER};}
			/* Background Gradient  */
			body.content_block_header_stripe li.header:before, .scrollToTop, .no_avatar, .badge, thead tr, .sidebar_block_stripe:before, .fancy_panel:before {background: #{H2O_SETTINGS_CONFIG_COLOUR_PICKER};}		
			/* Colour Hover Light */
			.navbar_footer a:hover, .copyright_bar a:hover, a.postlink:hover, a:hover   {opacity: 0.7;}			
			/* Background Hover Light */
			a.scrollToTop:hover, input.specialbutton:hover, a.specialbutton:hover, a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover  {opacity: 0.7;}
			/* Border light */
			.specialbutton:hover {opacity: 0.7;}
			.forumlist_grid .grid_colour_overlay:hover {box-shadow: inset 0px 0px 0px 8px #{H2O_SETTINGS_CONFIG_COLOUR_PICKER};
		</style>
	<!-- ELSE -->
    	<link href="{T_THEME_PATH}/colour-presets/Blue.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
    <!-- ENDIF -->
<!-- ELSE -->
	<link href="{T_THEME_PATH}/colour-presets/Blue.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!-- IF S_PLUPLOAD -->
	<link href="{T_THEME_PATH}/plupload.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!--[if lte IE 9]>
	<link href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<![endif]-->

<!-- EVENT overall_header_head_append -->

{$STYLESHEETS}

<!-- EVENT overall_header_stylesheets_after -->

</head>
<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}<!-- IF H2O_SETTINGS_CONFIG_SIDEBARS and H2O_SETTINGS_CONFIG_SIDEBAR_PLACEMENT == 'Right Only' --> sidebar-right-only<!-- ELSEIF H2O_SETTINGS_CONFIG_SIDEBARS and H2O_SETTINGS_CONFIG_SIDEBAR_PLACEMENT == 'Left Only' --> sidebar-left-only<!-- ELSEIF H2O_SETTINGS_CONFIG_SIDEBARS --> sidebar-both<!-- ENDIF --><!-- IF H2O_SETTINGS_CONFIG_LAYOUT_TYPE --> body-layout-{H2O_SETTINGS_CONFIG_LAYOUT_TYPE}<!-- ENDIF --> <!-- IF H2O_SETTINGS_CONFIG_HIGH_CONTRAST_LINKS --> high_contrast_links<!-- ENDIF --><!-- IF H2O_SETTINGS_CONFIG_BASE_COLOUR == 'Light' --> light_base<!-- ENDIF --><!-- IF H2O_SETTINGS_CONFIG_ROUNDED_AVATARS --> force_rounded_avatars<!-- ENDIF --> content_block_header_block <!-- IF S_ADMIN_AUTH or SCRIPT_NAME == 'viewforum' --> auth-page-admin<!-- ENDIF -->">

<style type="text/css">
body {height: 100%;} /* Needed on small login pages but deliberately avoided on long content pages */

body::before {
    background-image: url('<!-- IF H2O_FORUM_HEADER -->{H2O_FORUM_HEADER}<!-- ELSE --> default<!-- ENDIF -->');
	background-repeat: <!-- IF H2O_SETTINGS_CONFIG_HEADER_REPEAT --> {H2O_SETTINGS_CONFIG_HEADER_REPEAT}<!-- ELSE --> no-repeat<!-- ENDIF -->;
	background-position: <!-- IF H2O_SETTINGS_CONFIG_HEADER_POSITION --> {H2O_SETTINGS_CONFIG_HEADER_POSITION}<!-- ELSE --> center top<!-- ENDIF -->;
	<!-- IF H2O_SETTINGS_CONFIG_HEADER_SIZE -->background-size: cover;<!-- ENDIF -->
	<!-- IF H2O_SETTINGS_CONFIG_BACKGROUND_ATTACHMENT --> background-attachment: fixed;<!-- ENDIF -->
    content: "";
    height: 100%;
    width: 100%;  
    opacity: 
	<!-- IF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '0%' -->1<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '10%' -->0.9<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '20%' -->0.8
	<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '30%'-->0.7<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '40%' -->0.6<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '50%' -->0.5<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '60%' -->0.4<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '70%' -->0.3<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '80%' -->0.2<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '90%' -->0.1<!-- ELSEIF H2O_SETTINGS_CONFIG_HEADER_OPACITY == '100%' -->0<!-- ELSE -->0.3<!-- ENDIF -->;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;
}

.base, .panel-container .panel, .cp-mini, .navigation a, .cp-main .pm {
	background: rgba(0,0,0,<!-- IF H2O_SETTINGS_CONFIG_BASE_OPACITY == '0%' -->1<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '10%' -->0.9<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '20%' -->0.8
	<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '30%'-->0.7<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '40%' -->0.6<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '50%' -->0.5<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '60%' -->0.4<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '70%' -->0.3<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '80%' -->0.2<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '90%' -->0.1<!-- ELSEIF H2O_SETTINGS_CONFIG_BASE_OPACITY == '100%' -->0<!-- ELSE -->0.5<!-- ENDIF -->);	
}
</style>
