﻿@model TeachLearnWeb.FormData.AccountFormData

@{
    ViewBag.Title = "CreateAccount";
}
<head>

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*


        <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>*@



    <script type="text/javascript">
        $(function () {

            $('#btnCreate').click(function () {
                var username = $('#Uname').val();
                var name = $('#Name').val();
                var surname = $('#Surname').val();
                var birthday = $('#Birthday').val();
                var password = $('#Pwd').val();
                var email = $('#Email').val();
                var image = ($('#profilePhotoArea').attr('src'));
                var lastImage=image.replace(/^data:image\/(png|jpg|jpeg|PNG|JPEG);base64,/, "");

                $.ajax(
                    {
                        method: "POST",
                        url: "../User/CreateAccount",
                        type: "json",
                        dataType: "application/json; charset=utf-8;",
                        data: { Username: username, Name: name, Surname: surname, Birthday: birthday, Password: password, Email: email, Base64Image: lastImage },
                        success: function () { }
                    });
            });

            $('#btnPwd').on('click', function () {
                $(this).toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open'); // toggle our classes for the eye icon
                togglePassword(); // activate the hideShowPassword plugin
                $('#Pwd').focus();
            });

            $("#inputPhoto").change(function () {

                $('#photoInitialDescription').remove();
                readURL(this);

            });

            function togglePassword() {
                if ($('#Pwd').attr('type') == "text") {
                    $('#Pwd').attr('type', 'password');
                }
                else {
                    $('#Pwd').attr('type', 'text');
                }
            }

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#profilePhotoArea').attr('src', e.target.result);
                        $('#base64textarea').val($('#profilePhotoArea').attr('src'));
                        //$('#base64textarea').val(btoa(e.target.result));
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        });

    </script>
</head>

<body>
    <h2>Create Account</h2>

    <div class="input-group">
        <span class="input-group-addon" id="nameArea">Name</span>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <br />

    <div class="input-group">
        <span class="input-group-addon" id="surnameArea">Surname</span>
        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
    </div>

    <br />

    <div class="input-group">
        <span class="input-group-addon" id="usernameArea">Username</span>
        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" ,@id="Uname"} })
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>

    <br />

    <div class="input-group">
        <span class="input-group-addon" id="passwordArea">Password</span>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control ", data_toggle = "passsword", @type = "password",@id="Pwd"} })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        &nbsp;<button class="btn btn-default glyphicon glyphicon-eye-open" type="button" id="btnPwd"></button>
    </div>

    <br />

    <div class="input-group">
        <span class="input-group-addon" id="emailArea">E-mail</span>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <br />


    <div class="input-group">
        <span class="input-group-addon" id="birthdayArea">Birthday</span>
        <div class='input-group date' id='datetimepicker1'>
            <input type="date" class="form-control" id="Birthday" />
        </div>
        @* @Html.(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })*@
        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
    </div>

    <br />

    <div class="input-group">
        <span class="input-group-addon" id="profilePhotoChooseArea">Profile Photo</span>
        <label class="btn btn-default">Browse<input type="file" id="inputPhoto" /></label>
    </div>

    <br />

    <div class="input-group" id="photoPreview">
        <span class="input-group-addon">Photo</span>
        <img id="profilePhotoArea" width="30%" height="auto" />
        <div id="photoInitialDescription">
            NOT CHOSEN YET!
        </div>
    </div>

    <br />

    <input type="hidden" id="base64textarea" />

    <input type="submit" value="Create" class="btn btn-primary" id="btnCreate" />
    <br />
    <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Message</div>





    @*<script type="text/javascript">
                $(function () {
                $('#datetimepicker').datepicker();
            });
        </script>*@











    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>