﻿@model TeachLearnWeb.FormData.UserController.AllFriendRequestsFormData
@{
    ViewBag.Title = "FriendRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GridMvc.Html

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>

<h2>Friend Requests</h2>
<br />
<br />
<br />
<br />



@if (Model.ReceivedRequests.Any())
{
    <div>RECEIVED REQUESTS</div>
    @Html.Grid(Model.ReceivedRequests).Columns(Columns =>
{
    Columns.Add().Titled("Profile Photo").Encoded(false).Sanitized(false).RenderValueAs(o => Html.Raw("<img src=\"" + o.UserProfilePhotoFormData.Base64Image + " \" width=\"10%\"\\>")).Filterable(true);
    Columns.Add(c => c.RequestedUser.Username).Titled("Username").Filterable(true);
    Columns.Add(c => c.RequestedUser.Student.NameSurname).Titled("Name Surname").Filterable(true);
    Columns.Add().Titled("Accept").Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Accept", "AcceptFriendRequest", "User", new { userID = o.RequestedUser.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload();" })).Filterable(true); ;
    Columns.Add().Titled("Deny").Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Deny", "DenyFriendRequest", "User", new { userID = o.RequestedUser.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload();" })).Filterable(true);
    //Columns.Add(c => c.IsAdmin).Titled("Is Admin").Filterable(true);
    //Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Toggle Admin", "ToggleAdmin", "User", new { ID = o.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "location.reload();", OnFailure = "location.reload();" })).Filterable(true);
    //Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("User Info", "UserProfile", "User", new { ID = o.ID }, null)).Filterable(true);

}).WithPaging(15).Sortable(true)
    <br />
    <br />
    <hr />
}



@if (Model.SentRequests.Any())
{
    <div>SENT REQUESTS</div>
    @Html.Grid(Model.SentRequests).Columns(Columns =>
{
    Columns.Add().Titled("Profile Photo").Encoded(false).Sanitized(false).RenderValueAs(o=>Html.Raw("<img src=\""+o.UserProfilePhotoFormData.Base64Image+" \" width=\"10%\"\\>")).Filterable(true);
    Columns.Add(c => c.RequestedUser.Username).Titled("Username").Filterable(true);
    Columns.Add(c => c.RequestedUser.Student.NameSurname).Titled("Name Surname").Filterable(true);
    //Columns.Add().Titled("Accept").Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Accept", "AllDepartments", "Admin", new { ID = o.RequestedUser.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload();" })).Filterable(true); ;
    //Columns.Add().Titled("Deny").Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Deny", "AllUsers", "Admin", new { ID = o.RequestedUser.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload();" })).Filterable(true);
    //Columns.Add(c => c.IsAdmin).Titled("Is Admin").Filterable(true);
    //Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Toggle Admin", "ToggleAdmin", "User", new { ID = o.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "location.reload();", OnFailure = "location.reload();" })).Filterable(true);
    //Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("User Info", "UserProfile", "User", new { ID = o.ID }, null)).Filterable(true);

}).WithPaging(15).Sortable(true)
}