﻿@model TeachLearnWeb.FormData.UserController.UserProfileFormData

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/educationdetail-css.css" rel="stylesheet" />

<br />
<br />
<div align="center"><font face="Georgia" color="red" style="font-size:25px">~USER PROFILE~</font></div><hr style="border-color:black; width:300px;margin-top:2px;margin-bottom:30px;" />
<br />
<div class="row">
    <div class="col-xs-12">
        <img src='@Model.ProfilePhotoBase64' width="10%" height="auto" />
        <div class="pull-right" style="padding-right:100px">
            <font face="Georgia" style="font-size:30px;padding-left:2px;">@Model.Username</font>&ensp;
            <br />
            <font face="Georgia" style="font-size:20px;">@Model.NameSurname</font>
            <br />
            <br />
            <font face="Georgia" style="font-size:20px;">@Model.Birthday.ToShortDateString()</font>
        </div>
    </div>
    @if (Model.ParameteredUserID != null)
    {
        if (Model.IsSentRequest)
        {
            <div>Friend request has been sent! @Ajax.ActionLink("Undo request", "UnsendFriendRequest", new { userID = Model.ParameteredUserID }, new AjaxOptions { HttpMethod = "POST", Confirm = "Are you sure you want to delete this request?", OnSuccess = "window.location.reload();" })</div>
        }
        else
        {
            if (Model.IsFriend)
            {
                @Ajax.ActionLink("Remove Friend", "DeleteFriend", new { userID = Model.ParameteredUserID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload();" })
            }
            else
            {
                @Ajax.ActionLink("Send Friend Request", "SendFriendRequest", new { userID = Model.ParameteredUserID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload();" })
            }

        }
    }
    <div class="clearfix"></div>


    <hr style="border-color:red;" />

    @*<div class="col-xs-12">*@
    <div align="center"><font face="Georgia" color="red" style="font-size:25px">~SCREEN SHARE RECORDS~</font></div><hr style="width:370px;border-color:black;margin-top:2px;margin-bottom:30px;" />
    @*</div>*@

    @*<div class="col-xs-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    TOTAL SCREEN SHARE DURATION
                </div>
                <div class="panel-body">
                    @Model.TotalConnectionDuration
                </div>
            </div>
        </div>*@

    <div class="col-xs-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div align="center">PREVIOUS SCREEN SHARES</div>
            </div>
            <div class="panel-body">
                @foreach (var connection in Model.Connections)
            {
                    <a href="@Url.Action("ConnectionDetails","Connection",new { ID=connection.ID})" style="text-decoration:none;color:black;" onmouseover="this.getElementsById(styledHref)[0].style.color=blue;;" id="styledHref">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-facetime-video"></span>&ensp; @connection.ConnectionName @*<div class="pull-right">@connection.ConnectionDate.ToShortDateString()</div>*@
                            </div>
                            <div class="panel-body">
                                with @connection.OpponentUserName

                                @*@if (connection.ConnectionDuration.TotalMinutes < 1)
                                    {
                                        <div class="pull-right">
                                            @Math.Ceiling(@connection.ConnectionDuration.TotalSeconds) seconds
                                        </div>
                                    }
                                    @if (connection.ConnectionDuration.TotalMinutes >= 1)
                                    {
                                        <div class="pull-right">
                                            @Math.Ceiling(@connection.ConnectionDuration.TotalMinutes) minutes
                                        </div>
                                    }*@

                            </div>
                        </div>
                    </a>
                    <br />
                }
                <hr />

                <a href="@Url.Action("PreviousConnections","Connection")"><span class="glyphicon glyphicon-arrow-right"></span>View more!</a>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>


    <hr style="border-color:red;" />


    <div class="col-xs-12">
        <div align="center"><font face="Georgia" color="red" style="font-size:25px">~EDUCATION DETAILS~</font></div><hr style="width:300px;border-color:black;margin-top:2px;margin-bottom:30px;" />
    </div>

    <div class="col-xs-12">

        @foreach (var education in Model.Educations)
        {
            foreach (var university in education.Universities)
            {<div class="panel panel-danger">
            <div class="panel-heading">
                <h4>@university.UniversityName</h4>

            </div>

            <div class="panel-body">
                @foreach (var faculty in university.Faculties)
                {
                    <b><div align="left"><span class="glyphicon glyphicon-home"></span>&emsp;@faculty.FacultyName</div></b>
                    <hr style="border-color:red" />

                    foreach (var department in faculty.Departments)
                    {
                        <div align="center">
                            <b>@department.DepartmentName</b>
                            <br />
                            Year: @department.Year Term: @department.Term
                            <hr style="width:200px;border-color:red" />
                            <br />
                        </div>

                        <div class="pull-left">
                            LESSON COUNT: @department.LessonCount
                        </div>
                        <div class="pull-right">
                            AVERAGE: @department.AverageGrade
                        </div>
                        <br />
                    }
                    <br />
                    <hr style="border-color:red" />
                }
            </div>
        </div>
        <br />
            }

        }

    </div>


    <div class="clearfix"></div>

    <hr style="border-color:red;" />


    <div class="col-xs-12">
        <div align="center"><font face="Georgia" color="red" style="font-size:25px">~FORUM STATS~</font></div><hr style="width:220px;border-color:black;margin-top:2px;margin-bottom:30px;" />
    </div>
    <div class="col-xs-6">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <div align="center"> TOPICS</div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div align="center">Sent</div>
                        </div>
                        <div class="panel-body">
                            @foreach (var sentTopic in Model.SentTopics)
            {
                                <div class="panel panel-default">
                                    <a href='@Url.Action("TopicPosts","Forum",new { ID=sentTopic.TopicID})' style="text-decoration:none;background-color:none">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <div align="left">@sentTopic.FavCount &ensp;<span class="glyphicon glyphicon-star"></span> &emsp;&emsp; <font style="color:red" face="Georgia">@sentTopic.TopicName</font></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br />
                            }
                            <hr />
                            <div align="left">
                                <a href="@Url.Action("SentTopicList","Forum")"><span class="glyphicon glyphicon-arrow-right"></span>View More!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <br />
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div align="center">Favourite</div>
                        </div>
                        <div class="panel-body">
                            @foreach (var favTopic in Model.FavTopics)
            {
                                <div class="panel panel-default">
                                    <a href='@Url.Action("TopicPosts","Forum",new { ID=favTopic.TopicID})' style="text-decoration:none;background-color:none">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <div align="left">@favTopic.FavCount &ensp;<span class="glyphicon glyphicon-star"></span> &emsp;&emsp; <font style="color:red" face="Georgia">@favTopic.TopicName</font></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br />
                            }
                            <hr />
                            <div align="left">
                                <a href="@Url.Action("FavTopicList","Forum")"><span class="glyphicon glyphicon-arrow-right"></span>View More!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-xs-6" style="border-left: 2px solid red;">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <div align="center">POSTS</div>
            </div>
            <div class="panel-body">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div align="center">Sent:</div>
                    </div>
                    <div class="panel-body">
                        @foreach (var sentPost in Model.SentPosts)
            {
                            <div class="panel panel-default">
                                <a href='@Url.Action("TopicPosts","Forum",new { ID=sentPost.TopicID,anchoredPostID=sentPost.PostID})' style="text-decoration:none;background-color:none">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <div align="left">@sentPost.FavCount &ensp;<span class="glyphicon glyphicon-star"></span> &emsp;&emsp; <font style="color:red" face="Georgia">@sentPost.TopicName</font></div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-condensed">

                                                    <tbody>
                                                        <tr>
                                                            <td><div align="right">@sentPost.PostName</div></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            @*<div align="left">@sentPost.FavCount &ensp;<span class="glyphicon glyphicon-star"></span> &emsp;&emsp; <font style="color:red" face="Georgia">@sentPost.TopicName</font></div>*@
                            <br />
                        }

                        <div align="left">
                            <a href="@Url.Action("SentPostList","Forum")"><span class="glyphicon glyphicon-arrow-right"></span>View More!</a>
                        </div>
                    </div>
                </div>

                <br />

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div align="center">Favourites:</div>
                    </div>
                    <div class="panel-body">
                        @foreach (var favPost in Model.FavPosts)
            {
                            <div class="panel panel-default">
                                <a href='@Url.Action("TopicPosts","Forum",new { ID=favPost.TopicID,anchoredPostID=favPost.PostID})' style="text-decoration:none;background-color:none">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <div align="left">@favPost.FavCount &ensp;<span class="glyphicon glyphicon-star"></span> &emsp;&emsp; <font style="color:red" face="Georgia">@favPost.TopicName</font></div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-condensed">

                                                    <tbody>
                                                        <tr>
                                                            <td><div align="right">@favPost.PostName</div></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <br />
                        }
                        <hr />
                        <div align="left">
                            <a href="@Url.Action("FavPostList","Forum")"><span class="glyphicon glyphicon-arrow-right"></span>View More!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>