﻿<head>
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script type="text/javascript">
        $(function () {
            $('#University').change(function () {
                $('#Faculty').empty();
                $('#Department').empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetFaculties")',
                    dataType: 'json',
                    data: { universityID: $("#University").val() },
                    success: function (faculties) {
                        $.each(faculties, function (i, faculty) {
                            $("#Faculty").append('<option value="' + faculty.Value + '">' +
                                                     faculty.Text + '</option>');
                        })
                    }, error: function (ex) {
                        alert('Failed to retrieve faculties! ' + ex)
                    }
                });
                return false;
            });

            $('#Faculty').change(function () {
                $('#Department').empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDepartments")',
                    dataType: 'json',
                    data: { facultyID: $('#Faculty').val() },
                    success: function (departments) {
                        $.each(departments, function (i, department) {
                            $("#Department").append('<option value="' + department.Value + '">' +
                                                     department.Text + '</option>');
                        })
                    }, error: function (ex) {
                        alert('Failed to retrieve departments! ' + ex);
                    }
                });
                return false;
            });
        });
    </script>
</head>

<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <span class="label label-default">YEAR</span>
                        <br />
                        <br />
                        @Html.DropDownList("Year", TempData["Years"] as List<SelectListItem>)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <span class="label label-default">TERM</span>
                        <br />
                        <br />
                        @Html.DropDownList("Semester", TempData["Terms"] as List<SelectListItem>)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span class="label label-primary">UNIVERSITIES</span>
                <div class="col-md-12">
                    <br />
                    @Html.DropDownList("University", TempData["Universities"] as List<SelectListItem>)
                </div>
            </div>
            <br />
            <hr />
            <div class="form-group">
                <span class="label label-success">FACULTIES</span>
                <div class="col-md-12">
                    <br />
                    @Html.DropDownList("Faculty", new SelectList(string.Empty, "id", "name"))
                </div>
            </div>
            <br />
            <hr />
            <div class="form-group">
                <span class="label label-danger">DEPARTMENTS</span>
                <div class="col-md-12">
                    <br />
                    @Html.DropDownList("Department", new SelectList(string.Empty, "id", "name"))
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    @Html.ActionLink("Back to List", "ListEducations")

</body>