﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.Education

@{
    ViewBag.Title = "EditEducation";
}
<head>
    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>*@
    <script type="text/javascript">
        $(function () {
            $('#University').change(function () {
                $('#Faculty').empty();
                $('#Department').empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetFaculties")',
                    dataType: 'json',
                    data: { universityID: $("#University").val() },
                    success: function (faculties) {
                        $.each(faculties, function (i, faculty) {
                            $("#Faculty").append('<option value="' + faculty.Value + '">' +
                                                     faculty.Text + '</option>');
                        })
                    }, error: function (ex) {
                        alert('Failed to retrieve faculties! ' + ex)
                    }
                });
                return false;
            });

            $('#Faculty').change(function () {
                $('#Department').empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDepartments")',
                    dataType: 'json',
                    data: { facultyID: $('#Faculty').val() },
                    success: function (departments) {
                        $.each(departments, function (i, department) {
                            $("#Department").append('<option value="' + department.Value + '">' +
                                                     department.Text + '</option>');
                        })
                    }, error: function (ex) {
                        alert('Failed to retrieve departments! ' + ex)
                    }
                });
                return false;
            });
        });
    </script>
</head>
<body>
    <h2>Edit</h2>

    <p>@Model.University.Name</p>
    <p>@Model.Faculty.Name</p>
    <p>@Model.Department.Name</p>


    <br />
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <span class="label label-default">YEAR</span>
                        <br />
                        <br />
                        @Html.DropDownList("Year", TempData["Years"] as List<SelectListItem>)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <span class="label label-default">TERM</span>
                        <br />
                        <br />
                        @Html.DropDownList("Semester", TempData["Terms"] as List<SelectListItem>)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span class="label label-primary">UNIVERSITIES</span>
                <div class="col-md-12">
                    <br />
                    @Html.DropDownList("University", TempData["Universities"] as List<SelectListItem>)
                </div>
            </div>
            <br />
            <hr />
            <div class="form-group">
                <span class="label label-success">FACULTIES</span>
                <div class="col-md-12">
                    <br />
                    @Html.DropDownList("Faculty", new SelectList(string.Empty, "id", "name"))
                </div>
            </div>
            <br />
            <hr />
            <div class="form-group">
                <span class="label label-danger">DEPARTMENTS</span>
                <div class="col-md-12">
                    <br />
                    @Html.DropDownList("Department", new SelectList(string.Empty, "id", "name"))
                </div>
            </div>
            @*<h4>Education</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.University, "UniversityID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("UniversityID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UniversityID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FacultyID, "FacultyID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("FacultyID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FacultyID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentID, "DepartmentID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PeriodID, "PeriodID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PeriodID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PeriodID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "ListEducations")
    </div>
</body>