﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.Note>

@{
    ViewBag.Title = "Edit And Delete Score";
    int counter = 0;
}
<head>
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script type="text/javascript">
        function getDescription(int) {
            return $('Notes[' + int + '].Description').val();
        }

        function getResultPoint(int) {
            return $('Notes[' + int + '].ResultPoint').val();
        }

        function getEffect(int) {
            return $('Notes[' + int + '].Effect').val();
        }

    </script>
</head>

<body>
    <h2>Edit and Delete Score</h2>


    <div class="form-horizontal">
        <h4>Score</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (var item in Model)//değişiklik buradan başladı
        {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Ajax.ActionLink("Delete This Note", "DeleteNote", "Student", new { _noteID = item.ID }, new AjaxOptions { HttpMethod = "POST", Confirm = "Are you sure you want to delete " + item.Description + " for the " + item.Score.Lesson.Name + " lesson?" })

            <div class="form-group">
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.SingleOrDefault(w => w.ID == item.ID).ID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SingleOrDefault(w => w.ID == item.ID).Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SingleOrDefault(w => w.ID == item.ID).Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SingleOrDefault(w => w.ID == item.ID).Description, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SingleOrDefault(w => w.ID == item.ID).ResultPoint, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SingleOrDefault(w => w.ID == item.ID).ResultPoint, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SingleOrDefault(w => w.ID == item.ID).ResultPoint, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SingleOrDefault(w => w.ID == item.ID).Effect, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SingleOrDefault(w => w.ID == item.ID).Effect, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SingleOrDefault(w => w.ID == item.ID).Effect, "", new { @class = "text-danger" })
                    </div>
                </div>
            counter++;

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*@Ajax.ActionLink("Save Changes", "EditScore", "Student", item, new AjaxOptions { HttpMethod = "POST" }, new { @class = "btn btn-primary" })*@
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        }
        }
        <br />
        <hr />
    </div>
    <div>
        @Html.ActionLink("Back to List", "ListEducations")
    </div>

</body>