﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.Education>

@{
    ViewBag.Title = "ListEducations";
}
<head>
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
</head>

<body>
    <h2>ListEducations</h2>

    <p>
        @Html.ActionLink("Add New Education", "AddUniversity", "Student")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.University.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period.Semester)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.University.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period.Semester)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditEducation", new { _educationID = item.ID }) |
                    @Html.ActionLink("Details", "SeeEducationDetails", new { _educationID = item.ID }) |
                    @Ajax.ActionLink("Delete", "DeleteEducation","Student", new { _educationID = item.ID }, new AjaxOptions { HttpMethod="POST",Confirm="Are you sure you want to delete this University? All The Lesson and Note informations will be wiped out!"})
                </td>
            </tr>
        }
    </table>
</body>