﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.Education

@{
    ViewBag.Title = "SeeEducationDetails";
}
<head>
    <link href="~/Content/educationdetail-css.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script type="text/javascript">
        function onSuccessDelete(retUrl)
        { window.location.reload(); }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <h2>@Html.DisplayFor(model => model.University.Name)</h2><h3 class="pull-right">@Html.DisplayFor(model => model.Period.Year) 'th Year @Html.DisplayFor(model => model.Period.Semester) 'th Semester</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Faculty</strong><br>
                            @Html.DisplayFor(model => model.Faculty.Name)
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Department</strong><br>
                            @Html.DisplayFor(model => model.Department.Name)
                        </address>
                    </div>
                </div>
                @*<div class="row">
                            <div class="col-xs-6">
                                <address>
                                    <strong>Payment Method:</strong><br>
                                    Visa ending **** 4242<br>
                                    jsmith@email.com
                                </address>
                            </div>
                            <div class="col-xs-6 text-right">
                                <address>
                                    <strong>Order Date:</strong><br>
                                    March 7, 2014<br><br>
                                </address>
                            </div>
                        </div>
                    </div>*@
            </div>
            @foreach (var item in Model.Scores)
            {
                TempData["Score"] = @item.ID.ToString();
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <strong>@item.Lesson.Name</strong>
                                </h3>
                                @Ajax.ActionLink("Delete This Lesson","DeleteLesson", "Student",new { _scoreID = item.ID }, new AjaxOptions { HttpMethod="POST",Confirm="Are you sure you want to delete this lesson?",OnSuccess= "(function(){window.location.reload();})" },new { @class="btn btn-danger"}) &emsp;&emsp; @Html.ActionLink("Edit This Lesson","EditLesson","Student",new { _lessonID=item.LessonID}) &emsp;&emsp;@Html.ActionLink("Add New Note", "AddNote", "Student", new { _scoreID = item.ID }, null) &emsp;&emsp; @Html.ActionLink("Edit Notes","EditScore","Student",new { _scoreID=item.ID},null)
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed">

                                        <thead>
                                            <tr>
                                                @foreach (var subItem in item.Notes)
                                                {
                                                    <td><strong>@subItem.Description</strong></td>
                                                }
                                                <td><strong>Average</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @foreach (var subItem in item.Notes)
                                                {
                                                    <td>@subItem.ResultPoint</td>
                                                }
                                                <td>@item.Average /100</td>
                                            </tr>

                                            @*<tr>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                                    <td class="thick-line text-right">$670.99</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>Shipping</strong></td>
                                                    <td class="no-line text-right">$15</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>Total</strong></td>
                                                    <td class="no-line text-right">$685.99</td>
                                                </tr>*@
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
@Html.ActionLink("Add New Lesson", "AddLesson", "Student", new { _educationID = Model.ID },null)

@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
</p>*@
