﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.Review

@{
    ViewBag.Title = "EditReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditReview</h2>

<input type="hidden" value="@Model.ID" id="modelID" />
<input type="hidden" value="@Model.ConnectionID" id="modelConnID" />
<div class="input-group">

    <div class="col-xs-5">
        <input class="form-control" name="group100" type="radio" value="upvote" id="upvote">
        <span class="input-group-addon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
    </div>

    <div class="col-xs-2"></div>

    <div class="col-xs-5">
        <input class="form-control" name="group100" type="radio" id="downvote" value="downvote" checked>
        <span class="input-group-addon"><span class="glyphicon glyphicon-thumbs-down"></span></span>
    </div>
</div>

<div class="form-group">
    <label for="comment">REVIEW:</label>
    <textarea class="form-control" rows="8" id="reviewArea" style="resize:none;min-width:100%;"></textarea>
</div>

<div class="btn btn-danger" id="btnSendReview">EDIT REVIEW</div>


<div>
    @Html.ActionLink("Back to Details", "ConnectionDetails",new { ID=Model.ConnectionID})
</div>


<script>

    $(function () {
        $('#btnSendReview').click(function () {
            var ID = $('#modelID').val();
            var connID = $('#modelConnID').val();
            var review=$('#reviewArea').val();
            var radioVote=$('input[name=group100]:checked').val();

            $.ajax({
                method: "POST",
                url: '@Url.Action("EditReview","Connection")',
                data: { ID: ID, review: review,vote:radioVote },
                success: function () {
                    var link = '@Url.Action("ConnectionDetails",new { ID=0})';
                    link = link.replace('/0', '/' + connID);
                    window.location.href = link;
                }
            });
        });
    });

</script>