﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.Connection

@{
    ViewBag.Title = "PendingConnection";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string SharerName = "";
    string ViewerName = "";

    if (Model != null)
    {
        SharerName = Model.Sharer == null ? "" : Model.Sharer.Username;
        ViewerName = Model.Viewer == null ? "" : Model.Viewer.Username;
    }
}
<br />
<br />
<br />
@if (Model != null)
{
    <h2>PendingConnection</h2>

    <div>
        <h4>Connection</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ConnectionName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConnectionName)
            </dd>

            <dt>
                Sharer:
            </dt>

            <dd>
                @SharerName
            </dd>

            <dt>
                Viewer:
            </dt>

            <dd>
                @ViewerName
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConnectionDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConnectionDate)
            </dd>

        </dl>
    </div>
    <p>
        @Ajax.ActionLink("Delete This Connection", "DeletePendingConnection", new { ID = Model.ID }, new AjaxOptions { HttpMethod = "POST", Confirm = "Are you sure you want to delete this pending connection?" }) |
        @Html.ActionLink("Back to List", "PreviousConnections")
    </p>
}
@if (Model == null)
{
    <h1>YOU DO NOT HAVE ANY PENDING CONNECTION!</h1>
}
