﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumDepartment>



<div class="row">
    @foreach (var forumDepartment in Model)
    {
        <div class="col-sm-12">
            <div class="list-group">
                <a href=@Url.Action() class="list-group-item active">
                    <div class="row">
                        <div class="col-sm-8">
                            @forumDepartment.Name
                        </div>

                        <div class="col-sm-1">
                            <div style="border-left: 1px solid">
                                &ensp; TOPICS <br />&emsp;&emsp;
                                @forumDepartment.Topics.Count
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div style="border-left: 1px solid">
                                &ensp; POSTS <br />&emsp;&emsp;
                                @forumDepartment.Posts.Count
                            </div>
                        </div>

                        <div class="col-sm-2">

                            @if (forumDepartment.Posts.OrderBy(o => o.PostDate).FirstOrDefault() == null)
                            {
                                <div style="border-left: 1px solid">
                                    &ensp; LAST POST <br />&emsp;&emsp;
                                    --
                                </div>
                            }
                            @if (forumDepartment.Posts.OrderBy(o => o.PostDate).FirstOrDefault() != null)
                            {
                                <div style="border-left: 1px solid">
                                    &ensp; LAST POST <br />&emsp;&emsp;
                                    @forumDepartment.Posts.OrderBy(o => o.PostDate).FirstOrDefault().Topic.Name;
                                </div>
                            }
                        </div>
                    </div>
                </a>
                @*@foreach (var topic in forumDepartment.Topics)
                {
                    <a href=@Url.Action() class="list-group-item">
                        <div class="row">
                            <div class="col-sm-8">
                                @topic.Name
                            </div>

                            

                            <div class="col-sm-1">
                                <div style="border-left: 1px solid">
                                    &ensp; POSTS <br />&emsp;&emsp;
                                    @topic.Posts.Count
                                </div>
                            </div>

                            <div class="col-sm-2">

                                @if (topic.Posts.OrderBy(o => o.PostTime).FirstOrDefault() == null)
                                {
                                    <div style="border-left: 1px solid">
                                        &ensp; LAST POST <br />&emsp;&emsp;
                                        --
                                    </div>
                                }
                                @if (topic.Posts.OrderBy(o => o.PostTime).FirstOrDefault() != null)
                                {
                                    <div style="border-left: 1px solid">
                                        &ensp; LAST POST <br />&emsp;&emsp;
                                        @topic.Posts.OrderBy(o => o.PostTime).FirstOrDefault().Topic.Name;
                                    </div>
                                }
                            </div>
                        </div>


                    </a>
                }*@
            </div>
        </div>
            <br />
    }
</div>