﻿
@{
    ViewBag.Title = "Live Campus Forum";
    Layout = "../Shared/_Layout.cshtml";
    int topicCount = 0;
    int postCount = 0;

    int favTopicCount = 0;
    int favPostCount = 0;


    if (Session["Student"] != null)
    {

        if ((Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.SentFeeds != null)
        {
            topicCount = (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.SentFeeds.SentTopics.Count;
            postCount = (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.SentFeeds.SentPosts.Count;
        }
        if ((Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.FavouriteFeeds != null)
        {
            favTopicCount = (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.FavouriteFeeds.FavouriteTopics.Count;
            favPostCount = (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.FavouriteFeeds.FavouritePosts.Count;
        }
    }
}

@*<h2>_ForumSharedLayout</h2>*@


<html>
<head>

</head>
<body>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <a href=@Url.Action("Index", "Forum") style="text-decoration:none;">
                    <div class="panel-body">
                        <div align="center">
                            <img class="img-rounded" src="~/images/LiveCampusLogo.png" /><br />
                            <h1><font face="Georgia" color="red">LIVE CAMPUS FORUMS</font></h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-body">

                    <div class="col-sm-2">
                        <a href=@Url.Action("CreateNewTopic", "Forum") class="btn btn-danger">
                            <div align="left">
                                <b><font face="Georgia">New Topic</font></b>
                            </div>
                        </a>
                    </div>




                    <div class="col-sm-2">
                        <div align="center" style="border-left: 2px solid rgb(0, 0, 0)">
                            &ensp;
                            <a href=@Url.Action("SentTopicList", "Forum") class="btn btn-primary">
                                <div align="center">
                                    <b><font face="Georgia">Your Topics</font>&ensp;<span class="badge">@topicCount </span></b>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="col-sm-2">
                        <a href=@Url.Action("SentPostList", "Forum") class="btn btn-primary">
                            <div align="center">
                                <b><font face="Georgia">Your Posts</font>&ensp;<span class="badge">@postCount </span></b>
                            </div>
                        </a>
                    </div>


                    <div class="col-sm-3">
                        <div style="border-left: 2px solid rgb(0, 0, 0)">
                            &ensp;
                            <a href=@Url.Action("FavTopicList", "Forum") class="btn btn-success">
                                <div align="center">
                                    <b><font face="Georgia">Your Favourite Topics</font>&ensp;<span class="badge">@favTopicCount </span></b>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <a href=@Url.Action("FavPostList", "Forum") class="btn btn-success">
                            <div align="right">
                                <b><font face="Georgia">Your Favourite Posts</font>&ensp;<span class="badge">@favPostCount </span></b>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr />
    <br />
    @RenderBody()
</body>
</html>

