﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.Topic

@{
    ViewBag.Title = "CreateNewTopic";
    Layout = "~/Views/Forum/_ForumSharedLayout.cshtml";

    string FacultyName = "";
    string DepartmentName = "";
    int FacultyID = 0;
    int DepartmentID = 0;

    

    if (TempData["ForumDepartment"] != null)
    {
        FacultyName = (TempData["ForumFaculty"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumFaculty).Name;
        FacultyID = (TempData["ForumFaculty"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumFaculty).ID;

        DepartmentName = (TempData["ForumDepartment"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumDepartment).Name;
        DepartmentID = (TempData["ForumDepartment"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumDepartment).ID;
    }
}


<link href="~/Content/imgur/imgur.min.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1><font face="Georgia" color="red"> CREATE NEW TOPIC</font></h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (TempData["ForumDepartment"] == null)
        {
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-sm-10">
                            @Html.DropDownList("ForumFaculty", TempData["ForumFaculties"] as List<SelectListItem>)
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-sm-10">
                            @Html.DropDownList("ForumDepartment", new SelectList(string.Empty, "ID", "Name"))
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            
        }
        @if (TempData["ForumDepartment"] != null)
        {
            <input type="hidden" value="@FacultyID" id="ForumFaculty" />
            <input type="hidden" value="@DepartmentID" id="ForumDepartment" />

            <div style="border:4px solid red; width:200px"><h4><a href=@Url.Action("ForumFacultyDeps",new { ID=FacultyID})>@FacultyName</a> -</h4>  <h4><a href=@Url.Action("ForumDepartmentTopics",new { ID=DepartmentID})> @DepartmentName</a></h4></div>
            <br />
            <br />
        }
        <div class="form-group">
            <div class="control-label col-md-2"><b>Title</b></div>
            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Posts.FirstOrDefault().Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea id="Content" cols="80" rows="10" class="form-control"></textarea>
                @*@Html.Edi(model => model.Posts.FirstOrDefault().Content, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="btn btn-primary" id="btnUpload"><span class="glyphicon glyphicon-upload"></span>UPLOAD </div>
        </div>
        <br />
        <br />
        <div class="col-sm-12" id="dropzone">
            <div class="dropzone" style="visibility:hidden"></div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="btnCreate" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/imgur/imgur.min.js"></script>
<script type="text/javascript">
    var feedback = function (res) {
        if (res.success === true) {
            var status = document.querySelector('.status');
            var p = document.createElement('p');
            var t = document.createTextNode('Image url: ' + res.data.link);

            $('#Content').append(res.data.link);


            p.appendChild(t);

            status.classList.add('bg-success');
            status.appendChild(p);
            // document.querySelector('.status').innerHTML = 'Image url: ' + res.data.link;
        }
    };

    new Imgur({
        clientid: '8a8439a282bc4e7',
        callback: feedback
    });


    $(function () {
        $('#ForumFaculty').change(function () {
            $('#ForumDepartment').empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetForumDepartments")',
                dataType: 'json',
                data: { ID: $("#ForumFaculty").val() },
                success: function (forumDepartments) {
                    $.each(forumDepartments, function (i, forumDepartment) {
                        $("#ForumDepartment").append('<option value="' + forumDepartment.Value + '">' +
                                                 forumDepartment.Text + '</option>');
                    })
                }
            });
        });

        $('#btnUpload').click(function () {
            $('.dropzone').css('visibility', 'visible');
        });



        $('#btnCreate').click(function () {
            var topicName = $('#Name').val();
            var post = $('#Content').val();
            var forumFacID = $('#ForumFaculty').val();
            var forumDepID = $('#ForumDepartment').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateNewTopic")',
                dataType: 'json',
                data: { TopicName: topicName, Content: post, ForumFacultyID: forumFacID, ForumDepartmentID: forumDepID },
                success: function (response) {
                    window.location.href = response;
                }, error: function () {
                    window.location.href = '../Forum/Index';
                }

            });
        });

    });


</script>