﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumDepartment

@{
    ViewBag.Title = "TopicsPage";
    Layout = "~/Views/Forum/_ForumSharedLayout.cshtml";
    int page = 0;
    bool TopicExists = Model.Topics != null || Model.Topics.Count > 0;

    page = int.Parse(TempData["Page"].ToString());
    }

    <h1><a href=@Url.Action("ForumFacultyDeps",new { ID=Model.ForumFacultyID})> @Model.ForumFaculty.Name</a> - @Model.Name</h1>
    @if (TopicExists)
    {
    <div class="row">
        @foreach (var topic in Model.Topics.ToList().GetRange(page * 15, Model.Topics.Count < 15 ? Model.Topics.Count : 15))
        {
            <div class="col-sm-12">
                <div class="list-group">
                    <a href=@Url.Action("TopicPosts",new { ID=topic.ID}) class="list-group-item active">
                        <div class="row">
                            <div class="col-sm-9">
                                @topic.Name
                            </div>

                            <div class="col-sm-1">
                                <div style="border-left: 1px solid">
                                    &ensp; POSTS <br />&emsp;&emsp;
                                    @topic.Posts.Count
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div style="border-left: 1px solid">
                                    &ensp; LAST POST <br />&emsp;&emsp;
                                    @topic.Posts.OrderBy(o => o.PostDate).FirstOrDefault().SentFeed.User.Username - @topic.Posts.OrderBy(o => o.PostDate).FirstOrDefault().PostDate.ToShortDateString()
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }

        <div align="center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @if (Model.Topics.Count / 15 == 0)
                    {
                        <li><a href="#">1</a></li>
                    }

                    @if (Model.Topics.Count / 15 > 0)
                    {
                        for (int i = 1; i <= Model.Topics.Count / 15; i++)
                        {
                        <li><a href="#">@i</a></li>
                        }
                    }
                    @*@if (TopicList.Count / 15 >= 5)
            {
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            }*@
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    }
    @if(!TopicExists)
    {
        <h1>There are no topics!</h1>
    }



























