﻿@model TeachLearnWeb.FormData.ForumController.ForumIndexFormData



@{
    Layout = "_ForumSharedLayout.cshtml";
}


<html>
<head>
    
</head>

<body>


    <div class="clearfix"></div>

    <div class="row">
        @foreach (var forumFaculty in Model.ForumFaculties)
        {
            <div class="col-sm-12">
                <div class="list-group">
                    <a href=@Url.Action("ForumFacultyDeps",new { ID=forumFaculty.ID}) class="list-group-item active">
                        <div class="row">
                            <div class="col-sm-8">
                                @forumFaculty.Name
                            </div>

                            <div class="col-sm-1">
                                <div style="border-left: 1px solid">
                                    &ensp; TOPICS <br />&emsp;&emsp;
                                    @forumFaculty.Topics.Count
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div style="border-left: 1px solid">
                                    &ensp; POSTS <br />&emsp;&emsp;
                                    @forumFaculty.Posts.Count
                                </div>
                            </div>

                            <div class="col-sm-2">

                                @if (forumFaculty.Posts.OrderByDescending(o => o.PostDate).FirstOrDefault() == null)
                                {
                                    <div style="border-left: 1px solid">
                                        &ensp; LAST POST <br />&emsp;&emsp;
                                        --
                                    </div>
                                }
                                @if (forumFaculty.Posts.OrderByDescending(o => o.PostDate).FirstOrDefault() != null)
                                {
                                    <div style="border-left: 1px solid">
                                        &ensp; LAST POST <br />&emsp;&emsp;
                                        @forumFaculty.Posts.OrderByDescending(o => o.PostDate).FirstOrDefault().Topic.Name - @forumFaculty.Posts.OrderByDescending(o => o.PostDate).FirstOrDefault().SentFeed.User.Username
                                    </div>
                                }
                            </div>
                        </div>
                    </a>

                    @foreach (var forumDepartment in forumFaculty.ForumDepartments)
                {
                        <a href=@Url.Action("ForumDepartmentTopics",new { ID=forumDepartment.ID}) class="list-group-item">
                            <div class="row">
                                <div class="col-sm-8">
                                    @forumDepartment.Name
                                </div>

                                <div class="col-sm-1">
                                    <div style="border-left: 1px solid">
                                        &ensp; TOPICS <br />&emsp;&emsp;
                                        @forumDepartment.Topics.Count
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    <div style="border-left: 1px solid">
                                        &ensp; POSTS <br />&emsp;&emsp;
                                        @forumDepartment.Posts.Count
                                    </div>
                                </div>

                                <div class="col-sm-2">

                                    @if (forumDepartment.Posts.OrderByDescending(o => o.PostDate).FirstOrDefault() == null)
                                    {
                                        <div style="border-left: 1px solid">
                                            &ensp; LAST POST <br />&emsp;&emsp;
                                            --
                                        </div>
                                    }
                                    @if (forumDepartment.Posts.OrderByDescending(o => o.PostDate).FirstOrDefault() != null)
                                    {
                                        <div style="border-left: 1px solid">
                                            &ensp; LAST POST <br />&emsp;&emsp;
                                            @forumDepartment.Posts.OrderByDescending(o => o.PostDate).ToList().FirstOrDefault().Topic.Name - @forumDepartment.Posts.OrderByDescending(o => o.PostDate).ToList().FirstOrDefault().SentFeed.User.Username
                                        </div>
                                    }
                                </div>
                            </div>


                        </a>
                    }
                </div>
            </div>
            <br />
        }
    </div>
</body>











</html>