﻿@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<div align="center"><font face="Georgia" style="color:red"><h1>ABOUT LIVECAMPUS &copy;</h1> </font></div>
<hr style="border-color:red" />

<h3>
    LiveCampus is a website that allows student to interact with each other and sharpen their knowledge, skills and expand their vision.
</h3>
<p>
    <h3>
        LiveCampus provides forum, screen sharing and grade calculation for that purpose.
    </h3>
</p>

<br />
<br />
<div align="center"><font face="Georgia" style="color:red"><h1> OUR TEAM</h1> </font></div>
<hr style="border-color:red" />













<div class="container">
    <div class="row">

        <div class="row pt-md">
            <div align="center">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 team">
                    <div class="img-box">
                        <img class="img-responsive" alt="Responsive Team Profiles" src="~/images/Maide.jpg" />
                    </div>
                    <font face="Georgia"><h1>Maide Ergül</h1></font>
                    <font color="red"> <h2>Altınbaş University</h2></font>
                    <font color="red"><h2>Computer Engineering</h2></font>
                    <hr />
                    @*<p class="text-justify">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>*@
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 team">
                    <div class="img-box">
                        <img class="img-responsive" alt="Responsive Team Profiles" src="~/images/Fethi.jpg" />
                    </div>
                    <font face="Georgia"><h1>Fethi Tekyaygil</h1></font>
                    <font color="red"> <h2>Altınbaş University</h2></font>
                    <font color="red"><h2>Computer Engineering</h2></font>
                        <hr />
                        @*<p class="text-justify">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>*@
</div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 team">
                    <div class="img-box">
                        <img class="img-responsive" alt="Responsive Team Profiles" src="~/images/Berke.jpg" />
                    </div>
                    <font face="Georgia"><h1>Berke Sayar</h1></font>
                    <font color="red"> <h2>Altınbaş University</h2></font>
                    <font color="red"><h2>Computer Engineering</h2></font>
                    <hr />
                    @*<p class="text-justify">The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>*@
                </div>
            </div>



        </div>
    </div>
</div>

<style>
    hr {
        border: 1px solid #858585;
    }

    .team {
        margin-top: 25px;
    }

        .team h1 {
            font-weight: normal;
            font-size: 22px;
            margin: 10px 0 0 0;
        }

        .team h2 {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 5px;
        }

        .team .img-box {
            opacity: 1;
            display: block;
            position: relative;
        }

            .team .img-box:after {
                content: "";
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.75);
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
            }

    .img-box ul {
        position: absolute;
        z-index: 2;
        bottom: 50px;
        text-align: center;
        width: 100%;
        padding-left: 0px;
        height: 0px;
        margin: 0px;
        opacity: 0;
    }

        .team .img-box:after, .img-box ul, .img-box ul li {
            -webkit-transition: all 0.5s ease-in-out 0s;
            -moz-transition: all 0.5s ease-in-out 0s;
            transition: all 0.5s ease-in-out 0s;
        }

            .img-box ul i {
                font-size: 20px;
                letter-spacing: 10px;
            }

            .img-box ul li {
                width: 30px;
                height: 30px;
                text-align: center;
                border: 1px solid #fff;
                margin: 2px;
                padding: 5px;
                display: inline-block;
            }

    .img-box a {
        color: #fff;
    }

    /*.img-box:hover:after {
        opacity: 1;
    }*/

    .img-box:hover ul {
        opacity: 1;
    }

    .img-box ul a {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    /*.img-box a:hover li {
        border-color: #FFEA05;
        color: #FFEA05;
    }*/

    .img-box a {
        color: #FFEA05;
    }

    /*.img-box a:hover {
            text-decoration: none;
            color: #519548;
        }*/
</style>





