﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.Contact

@{
    ViewBag.Title = "ContactDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name Surname:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>
<p>
    <a href="mailto:@Model.Email" class="btn btn-danger">Reply</a>
</p>
