﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isLogged = Session["Student"] != null;
    string NameSurname = Session["Student"] != null ? (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).NameSurname : "";
    string Email = Session["Student"] != null ? (Session["Student"] as TeachLearnWeb.Data.POCOs.TeachLearnWeb.Student).User.Email : "";
}
<link href="~/Content/SocialLinksStyle.css" rel="stylesheet" />
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
@*<link href=”//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css” rel=”stylesheet”>*@
@*<link href="~/Content/ContactPageStyle.css" rel="stylesheet" />*@
<br />
<br />
<br />
<br />

<section id="contact">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <div align="center"><font face="Georgia"><h1>CONTACT US</h1></font></div>
        </div>

        <div class="panel-body">
            <div class="col-md-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.5434481508287!2d28.81846581568476!3d41.057112124366625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa5733f40e253%3A0x8bed87f91b0b6553!2zQWx0xLFuYmHFnyDDnG5pdmVyc2l0ZXNp!5e0!3m2!1str!2snl!4v1521978986449" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
                @*<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3736489.7218514383!2d90.21589792292741!3d23.857125486636733!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1506502314230" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>*@
            </div>
            <div class="col-md-5">
                @if (!isLogged)
                {
                    <br />
                    <div class="form-group">
                        <input type="text" class="form-control" style="border-color:red" id="NameSurname" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" style="border-color:red" id="Email" placeholder="E-mail">
                    </div>
                }
                @if (isLogged)
                {
                    <div class="form-group">
                        <div id="NameSurname"><h3><font face="Georgia" color="red"> @NameSurname</font> </h3></div>
                    </div>
                    <div class="form-group">
                        <div id="Email"><h3><font face="Georgia" color="red">@Email</font></h3> </div>
                    </div>
                }
                <div class="form-group">
                    <textarea class="form-control" name="" style="border-color:red;resize:none" rows="6" id="Message" placeholder="Message"></textarea>
                </div>
                <button class="btn btn-danger" type="submit" name="button" id="btnContact">
                    Send <span class="glyphicon glyphicon-send"></span>
                </button>
            </div>
        </div>
    </div>
</section>


<br />
<div align="center">
    <a href="https://www.facebook.com" class="btn btn-lg btn-block onl_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
        <i class="fa fa-facebook fa-2x"></i>
        <span class="hidden-xs"></span>
    </a>

</div>
<br />
<br />

<script>
    $('#btnContact').click(function () {
        var Name=$('#NameSurname').val();
        var Email = $('#Email').val();
        var Message=$('#Message').val();


        $.ajax({
            method: "POST",
            url: '../Home/Contact',
            data: { Name: Name, Email: Email, Message: Message },
            success: function () {
                alert('Your message has been sent successfully!');
                window.location.reload();
            }


        });

    });

</script>
