﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumDepartment

@{
    ViewBag.Title = "AddForumDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddForumDepartment</h2>

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ForumDepartment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="form-group">
        @Html.DropDownList("ForumFaculties", TempData["ForumFaculties"] as List<SelectListItem>)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="btn btn-danger" id="btnCreate">Create</div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(function(){
        $('#btnCreate').click(function () {
            var name=$('#Name').val();
            var ID=$('#ForumFaculties').val();


            $.ajax({
                method:"POST",
                url:"../Admin/AddForumDepartment",
                data:{name:name,forumFacultyID:ID},
                success: function () {
                    window.location.href = "../Admin/AllForumDepartments";
                }

            })

        });

    })

</script>
