﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.Connection>
@{
    ViewBag.Title = "AllConections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GridMvc.Html

<head>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/gridmvc.min.js"></script>
</head>
<body>
    <br />
    <h1>All Conections</h1>
    <hr style="border-color:red" />
    <br />
    <div align="center"><H1>SENT TOPICS</H1></div><hr style="border-color:red" />

    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.ConnectionName).Titled("Connection Name").Filterable(true);
    Columns.Add(c => c.ConnectionDate).Titled("Date").Filterable(true);
    Columns.Add(c => c.ConnectionDuration).Titled("Duration").Filterable(true);
    Columns.Add().Titled("Viewer").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Viewer.Username, "UserProfile", "User", new { ID = o.ViewerID }, null)).Filterable(true);
    Columns.Add().Titled("Sharer").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Sharer.Username, "UserProfile", "User", new { ID = o.SharerID }, null)).Filterable(true);
    //Columns.Add().Titled("Post").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Content, "TopicPosts", "Forum", new { ID = o.TopicID, anchoredPostID = o.ID }, null)).Filterable(true);
    //Columns.Add().Titled("Category").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.ForumDepartment.Name, "ForumDepartmentTopics", "Forum", new { ID = o.ForumDepartmentID }, null)).Filterable(true);
    Columns.Add(c => c.IsConnectionEnded).Titled("Is Finished").Filterable(true);

}).WithPaging(15).Sortable(true)




</body>