﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.Contact>
@using GridMvc.Html

@{
    ViewBag.Title = "AllContacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/gridmvc.min.js"></script>
</head>
<body>
    <br />
    <h1>All Contacts</h1>


    <br />
    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.NameSurname).Titled("Sender").Filterable(true);
    Columns.Add(c => c.Email).Titled("E-mail").Filterable(true);
    Columns.Add(c => c.Message).Titled("Message").Filterable(true);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => "<a href=\"mailto:"+ o.Email+"\">Reply</a>").Filterable(false);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Details", "ContactDetails", "Home", new { ID = o.ID }, null)).Filterable(true);
    //Columns.Add(c => c.Student.Birthday).Titled("Birthday").Filterable(true);
    //Columns.Add(c => c.IsAdmin).Titled("Is Admin").Filterable(true);
    //Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Toggle Admin", "ToggleAdmin", "User", new { ID = o.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "location.reload();", OnFailure = "location.reload();" })).Filterable(true);
    //Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("User Info", "UserProfile", "User", new { ID = o.ID }, null)).Filterable(true);

}).WithPaging(15).Sortable(true)

</body>

