﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumDepartment>
@{
    ViewBag.Title = "AllForumDepartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string header = TempData["Header"].ToString();
}

@using GridMvc.Html

<head>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/gridmvc.min.js"></script>
</head>
<body>
    <br />
    <h1>All Forum Sub-Categories</h1>
    <h3>@header</h3>
    <div align="right">@Html.ActionLink("Create New Sub-Category", "AddForumDepartment", null, new { @class = "btn btn-danger" })</div>
    <a href="../AllForumDepartments" >All Sub- Categories</a>
    <hr style="border-color:red" />

    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.Name).Titled("Category Name").Filterable(true);
    Columns.Add(c => c.ForumFaculty.Name).Titled("Category").Encoded(false).Sanitized(false).Filterable(true);
    Columns.Add().Titled("Topics").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Topics.Count.ToString(), "AllSentTopics", "Admin", new { ID = o.ID, educationLevel = "ForumDepartment" }, null)).Filterable(true);
    Columns.Add().Titled("Post Count").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Posts.Count.ToString(), "AllSentPosts", "Admin", new { ID = o.ID, educationLevel = "ForumDepartment" }, null)).Filterable(true);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Edit", "ForumDepartment", "Admin", new { ID = o.ID }, null)).Filterable(true);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Delete", "DeleteForumDepartment", new { ID = o.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload();" })).Filterable(true);

}).WithPaging(15).Sortable(true)




</body>

