﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumFaculty>
@{
    ViewBag.Title = "AllForumFaculties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GridMvc.Html

<head>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/gridmvc.min.js"></script>
</head>
<body>
    <br />

    <h1>All Forum Categories</h1><br />
    <div align="right">@Html.ActionLink("Create New Category","AddForumFaculty",null,new { @class="btn btn-danger"})</div>
    <hr style="border-color:red" />
    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.Name).Titled("Category Name").Filterable(true);
    Columns.Add().Titled("SubCategories").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.ForumDepartments.Count.ToString(), "AllForumDepartments", "Admin", new { ID = o.ID }, null)).Filterable(true);
    Columns.Add().Titled("Topics").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Topics.Count.ToString(), "AllSentTopics", "Admin", new { ID = o.ID }, null)).Filterable(true);
    Columns.Add().Titled("Post Count").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Posts.Count.ToString(), "AllSentPosts", "Admin", new { ID = o.ID }, null)).Filterable(true);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Edit", "ForumFacultyUpdatePage", "Admin", new { ID = o.ID }, null)).Filterable(true);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Delete", "DeleteForumFaculty", new { ID = o.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload();" })).Filterable(true);
}).WithPaging(15).Sortable(true)




</body>