﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.Topic>
@{
    ViewBag.Title = "AllSentTopics";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string header = TempData["Header"].ToString();
}
@using GridMvc.Html

<head>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/gridmvc.min.js"></script>
</head>
<body>
    <br />
    <h1>All Topics</h1>
    <h3>@header</h3>
    <br />
    <div align="center"><H1>SENT TOPICS</H1></div><hr style="border-color:red"/>
    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.Name).Titled("Topic Name").Filterable(true);
    Columns.Add().Titled("Sender").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.SentFeed.User.Username, "UserProfile", "User", new { ID = o.SentFeed.User.ID }, null)).Filterable(true);

    Columns.Add().Titled("Category").Encoded(false).Sanitized(false).RenderValueAs(o=>Html.ActionLink(o.ForumDepartment.Name,"ForumDepartmentTopics","Forum",new { ID=o.ForumDepartmentID},null)).Filterable(true);

    Columns.Add().Titled("Post Count").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Posts.Count.ToString(), "TopicPosts","Forum", new { ID = o.ID }, null)).Filterable(true);
    Columns.Add(c => c.FavouritedCount).Titled("FavouriteCount").Filterable(true);
    Columns.Add(c => c.Posts.FirstOrDefault().PostDate).Titled("Date").Filterable(true);

}).WithPaging(15).Sortable(true)

   


</body>
