﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.University>
@using GridMvc.Html

@{
    ViewBag.Title = "AllUniversities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/gridmvc.min.js"></script>
</head>
<body>
    <h1>All Universities</h1>

    <br />
    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.Name).Titled("University Name").Filterable(true);
    Columns.Add().Titled("Faculties").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("See Faculties (" + o.Faculties.Count().ToString() + ")", "AllFaculties", "Admin", new { ID = o.ID }, null)).Filterable(true); ;
    Columns.Add().Titled("Departments").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("See Departments (" + o.Departments.Count().ToString() + ")", "AllDepartments", "Admin", new { ID = o.ID }, null)).Filterable(true); ;
    Columns.Add().Titled("Students").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("See Students (" + o.Educations.GroupBy(g => g.StudentID).Distinct().Count().ToString() + ")", "AllUsers", "Admin", new { ID = o.ID }, null)).Filterable(true);
    //Columns.Add(c => c.IsAdmin).Titled("Is Admin").Filterable(true);
    //Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Toggle Admin", "ToggleAdmin", "User", new { ID = o.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "location.reload();", OnFailure = "location.reload();" })).Filterable(true);
    //Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("User Info", "UserProfile", "User", new { ID = o.ID }, null)).Filterable(true);

}).WithPaging(15).Sortable(true)

</body>