﻿@model IEnumerable<TeachLearnWeb.Data.POCOs.TeachLearnWeb.User>

@using GridMvc.Html

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>




@Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.Username).Titled("Username").Filterable(true);
    Columns.Add(c => c.Student.Name).Titled("Name").Filterable(true);
    Columns.Add(c => c.Student.Surname).Titled("Surname").Filterable(true);
    Columns.Add(c => c.Student.Birthday).Titled("Birthday").Filterable(true);
    Columns.Add(c => c.IsAdmin).Titled("Is Admin").Filterable(true);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("User Info","UserProfile","User", new {ID=o.ID },null)).Filterable(true);

}).WithPaging(15).Sortable(true)


