﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumDepartment
@{
    ViewBag.Title = "ForumDepartmentUpdatePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name Update Page</h2>

<div class="pull-right">
    @Ajax.ActionLink("Delete This Forum Department", "DeleteForumDepartment", new { ID = Model.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.href='../AllForumDepartments';" })
</div>

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="btn btn-danger" id="btnUpdateName">Update</div>
        </div>
    </div>
</div>

@Html.ActionLink("Topics", "AllSentTopics", new { ID = Model.ID, educationLevel = "ForumDepartment" }) |
@Html.ActionLink("Posts", "AllSentPosts", new { ID = Model.ID, educationLevel = "ForumDepartment" })

<script>
    $(function () {
        $('#btnUpdateName').click(function () {
            var name = $('#Name').val();
            var ID = $('#ID').val();


            $.ajax({
                method: "POST",
                url: "../Admin/UpdateForumDepartmentName",
                data: { ID: ID, name: name },
                success: function () {
                    window.location.reload();
                }
            });
        });
    });

</script>