﻿@model TeachLearnWeb.Data.POCOs.TeachLearnWeb.ForumFaculty

@{
    ViewBag.Title = "ForumFacultyUpdatePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GridMvc.Html

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/Scripts/gridmvc.min.js"></script>


<h2>@Model.Name Update Page</h2>

<div class="pull-right">
    @Ajax.ActionLink("Delete This Category","DeleteForumFaculty", new { ID = Model.ID },new AjaxOptions { HttpMethod="POST",OnSuccess="window.location.href='../AllForumFaculties';"})
</div>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn btn-danger" id="btnUpdateName">Update</div>
            </div>
        </div>
    </div>

@Html.ActionLink("Topics", "AllSentTopics", new { ID = Model.ID, educationLevel = "ForumFaculty" }) | 
@Html.ActionLink("Posts", "AllSentPosts", new { ID = Model.ID, educationLevel = "ForumFaculty" })
<br />
@Html.ActionLink("Create New Category","AddForumFaculty",null,new { @class="btn btn-danger"})
<div>
    <br />

    @Html.Grid(Model.ForumDepartments).Columns(Columns =>
{
    Columns.Add(c => c.Name).Titled("Category Name").Filterable(true);
    Columns.Add(c => c.ForumFaculty.Name).Titled("Category").Encoded(false).Sanitized(false).Filterable(true);
    Columns.Add().Titled("Topics").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Topics.Count.ToString(), "AllSentTopics", "Admin", new { ID = o.ID, educationLevel = "ForumDepartment" }, null)).Filterable(true);
    Columns.Add().Titled("Post Count").Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(o.Posts.Count.ToString(), "AllSentPosts", "Admin", new { ID = o.ID, educationLevel = "ForumDepartment" }, null)).Filterable(true);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Edit", "ForumDepartment", "Admin", new { ID = o.ID }, null)).Filterable(true);
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("Delete", "DeleteForumDepartment", new { ID = o.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "window.location.reload();" })).Filterable(true);
}).WithPaging(15).Sortable(true)
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(function () {
        $('#btnUpdateName').click(function () {
            var name=$('#Name').val();

            $.ajax({
                method:"POST",
                url: "../Admin/UpdateForumFacultyName",
                data: { ID: ID, name: name },
                success: function () {
                    window.location.reload();
                }
            });
        });
    });

</script>