﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Esteem  An Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/AdminPageTheme/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/AdminPageTheme/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/AdminPageTheme/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/AdminPageTheme/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/AdminPageTheme/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/AdminPageTheme/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/AdminPageTheme/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <link href="~/AdminPageTheme/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <div class="clearfix"></div>
        <!-- //w3_agileits_top_nav-->
        <!-- /inner_content-->
        <div class="inner_content">
            <!-- /inner_content_w3_agile_info-->
            <div class="inner_content_w3_agile_info">
                <!-- /agile_top_w3_grids-->
                <div class="agile_top_w3_grids">
                    <ul class="ca-menu">
                        <li>
                            <a href="@Url.Action("AllUsers")">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main">16,808</h4>
                                    <h3 class="ca-sub">Users</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AllUniversities")">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main one">26,808</h4>
                                    <h3 class="ca-sub one">Educations</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AllConections")">
                                <i class="fa fa-desktop" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main two">29,008</h4>
                                    <h3 class="ca-sub two">Screen Shares</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AllForumFaculties")">
                                <i class="fa fa-forumbee" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main three">49,436</h4>
                                    <h3 class="ca-sub three">Forum Categories</h3>
                                </div>
                            </a>
                        </li>
                        @*<li>
                            <a href="#">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main four">30,808</h4>
                                    <h3 class="ca-sub four">New Orders</h3>
                                </div>
                            </a>
                        </li>*@
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <!-- //agile_top_w3_grids-->
                <!-- /agile_top_w3_post_sections-->
                <div class="agile_top_w3_post_sections">
                    <div class="col-md-6 agile_top_w3_post agile_info_shadow">
                        <div class="img_wthee_post">
                            <h3 class="w3_inner_tittle">Latest Report</h3>
                            <div class="stats-wrap">
                                <div class="count_info"><h4 class="count">65,800,587 </h4><span class="year">Total Companies</span></div>
                                <div class="year-info"><p class="text-no">20 </p><span class="year">This Year</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="stats-wrap">
                                <div class="count_info"><h4 class="count">2,690 </h4><span class="year">Total Companies</span></div>
                                <div class="year-info"><p class="text-no">40 </p><span class="year">This Month</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="stats-wrap">
                                <div class="count_info"><h4 class="count">24,660 </h4><span class="year">Total Companies</span></div>
                                <div class="year-info"><p class="text-no">30 </p><span class="year">This Week</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="stats-wrap">
                                <div class="count_info"><h4 class="count">1,204</h4><span class="year">Total Companies</span></div>
                                <div class="year-info"><p class="text-no">10 </p><span class="year">This Day</span></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile_top_w3_post_info agile_info_shadow">
                        <div class="img_wthee_post1">
                            <h3 class="w3_inner_tittle"> Flip Clock</h3>
                            <div class="main-example">
                                <div class="clock"></div>
                                <div class="message"></div>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- //agile_top_w3_post_sections-->
                <!-- /w3ls_agile_circle_progress-->
                <div class="w3ls_agile_cylinder chart agile_info_shadow">
                    <h3 class="w3_inner_tittle two"> Cylinder chart</h3>

                    <div id="chartdiv"></div>


                </div>
                <!-- /w3ls_agile_circle_progress-->
                <!-- /chart_agile-->
                <!-- /w3ls_agile_circle_progress-->
                <div class="w3ls_agile_circle_progress agile_info_shadow">

                    <div class="cir_agile_info ">
                        <h3 class="w3_inner_tittle">Circular Progress</h3>
                        <div class="skill-grids">
                            <div class="skills-grid text-center">
                                <div class="circle" id="circles-1"></div>
                                <p>HTML</p>
                            </div>
                            <div class="skills-grid text-center">
                                <div class="circle" id="circles-2"></div>
                                <p>PHOTOGRAPHY</p>
                            </div>
                            <div class="skills-grid text-center">
                                <div class="circle" id="circles-3"></div>

                                <p>ILLUSTRATOR</p>
                            </div>
                            <div class="skills-grid text-center">
                                <div class="circle" id="circles-4"></div>
                                <p>CSS3</p>
                            </div>



                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
                <!-- /w3ls_agile_circle_progress-->
                <!--/prograc-blocks_agileits-->
                <div class="prograc-blocks_agileits">


                    <div class="col-md-6 bars_agileits agile_info_shadow">
                        <h3 class="w3_inner_tittle two">Daily Sales</h3>
                        <div class='bar_group'>
                            <div class='bar_group__bar thin' label='Rating' show_values='true' tooltip='true' value='343'></div>
                            <div class='bar_group__bar thin' label='Quality' show_values='true' tooltip='true' value='235'></div>
                            <div class='bar_group__bar thin' label='Amount' show_values='true' tooltip='true' value='550'></div>
                            <div class='bar_group__bar thin' label='Farming' show_values='true' tooltip='true' value='456'></div>
                        </div>
                    </div>
                    <div class="col-md-6 fallowers_agile agile_info_shadow">
                        <h3 class="w3_inner_tittle two">New Users</h3>
                        <div class="work-progres">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Username</th>
                                            <th>Name Surname</th>

                                            <th>Status</th>
                                            <th>Progress</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Face book</td>
                                            <td>Malorum</td>

                                            <td><span class="label label-danger">in progress</span></td>
                                            <td><span class="badge badge-info">50%</span></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Twitter</td>
                                            <td>Evan</td>

                                            <td><span class="label label-success">completed</span></td>
                                            <td><span class="badge badge-success">100%</span></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Google</td>
                                            <td>John</td>

                                            <td><span class="label label-warning">in progress</span></td>
                                            <td><span class="badge badge-warning">75%</span></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>LinkedIn</td>
                                            <td>Danial</td>

                                            <td><span class="label label-info">in progress</span></td>
                                            <td><span class="badge badge-info">65%</span></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Tumblr</td>
                                            <td>David</td>

                                            <td><span class="label label-warning">in progress</span></td>
                                            <td><span class="badge badge-danger">95%</span></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Tesla</td>
                                            <td>Mickey</td>

                                            <td><span class="label label-info">in progress</span></td>
                                            <td><span class="badge badge-success">95%</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!--//prograc-blocks_agileits-->
                <!-- /bottom_agileits_grids-->
                <div class="bottom_agileits_grids">
                    <div class="col-md-4 profile-main">
                        <div class="profile_bg_agile">
                            <div class="profile-pic wthree">
                                <h2>LIVE CAMPUS</h2>
                                <img src="~/images/LiveCampusLogo.png" alt="LiveCampus">
                                <p><font color="black"><b>Site Statistics</b></font></p>
                            </div>
                            <div class="profile-ser">
                                <div class="follow-grids-agileits-w3layouts">
                                    <div class="profile-ser-grids">
                                        <h3>Users</h3>
                                        <h4>2486</h4>
                                    </div>
                                    <div class="profile-ser-grids agileinfo">
                                        <h3>Topics</h3>
                                        <h4>1582</h4>
                                    </div>
                                    <div class="profile-ser-grids no-border">
                                        <h3>Connections</h3>
                                        <h4>1468</h4>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="w3l_social_icons w3l_social_icons1">
                                    <ul>
                                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 chart_agile agile_info_shadow">
                        <h3 class="w3_inner_tittle two">Stacked Bar Chart</h3>
                        @*<div id="chartdiv1"></div>*@
                        
                    </div>


                    <div class="clearfix"></div>
                </div>
                <!-- //bottom_agileits_grids-->

            </div>
            <!-- //inner_content_w3_agile_info-->
        </div>
        <!-- //inner_content-->
    </div>
    <!-- banner -->
    <!--copy rights start here-->
    <div class="copyrights">
        <p>© 2018 LiveCampus. All Rights Reserved</p>
    </div>



























    <!--copy rights end here-->
    <!-- js -->

    @*<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>*@

    <!-- /amcharts -->
    <script src="~/AdminPageTheme/js/amcharts.js"></script>
    <script src="~/AdminPageTheme/js/serial.js"></script>
    <script src="~/AdminPageTheme/js/export.js"></script>
    <script src="~/AdminPageTheme/js/light.js"></script>
    

    <!-- //amcharts -->
    <script src="~/AdminPageTheme/js/chart1.js"></script>
    <script src="~/AdminPageTheme/js/Chart.min.js"></script>
    <script src="~/AdminPageTheme/js/modernizr.custom.js"></script>

    <script src="~/AdminPageTheme/js/classie.js"></script>
    <script src="~/AdminPageTheme/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <!-- script-for-menu -->
    <!-- /circle-->
    <script type="text/javascript" src="~/AdminPageTheme/js/circles.js"></script>
    <script>
        var colors = [
                ['#ffffff', '#fd9426'], ['#ffffff', '#fc3158'], ['#ffffff', '#53d769'], ['#ffffff', '#147efb']
        ];
        for (var i = 1; i <= 7; i++) {
            var child = document.getElementById('circles-' + i),
                percentage = 30 + (i * 10);

            Circles.create({
                id: child.id,
                percentage: percentage,
                radius: 80,
                width: 10,
                number: percentage / 1,
                text: '%',
                colors: colors[i - 1]
            });
        }

    </script>
    <!-- //circle -->
    <!--skycons-icons-->
    <script src="~/AdminPageTheme/js/skycons.js"></script>
        <script>
                                         var icons = new Skycons({"color": "#fcb216"}),
                                              list  = [
                                                "partly-cloudy-day"
                                              ],
                                              i;

                                          for(i = list.length; i--; )
                                            icons.set(list[i], list[i]);
                                          icons.play();
        </script>
        <script>
                                         var icons = new Skycons({"color": "#fff"}),
                                              list  = [
                                                "clear-night","partly-cloudy-night", "cloudy", "clear-day", "sleet", "snow", "wind","fog"
                                              ],
                                              i;

                                          for(i = list.length; i--; )
                                            icons.set(list[i], list[i]);
                                          icons.play();
        </script>
    <!--//skycons-icons-->
    <!-- //js -->
    <script src="~/AdminPageTheme/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="~/AdminPageTheme/js/flipclock.js"></script>

    <script type="text/javascript">
        var clock;

        $(document).ready(function () {

            clock = $('.clock').FlipClock({
                clockFace: 'HourlyCounter'
            });
        });
    </script>
    <script src="~/AdminPageTheme/js/bars.js"></script>
    <script src="~/AdminPageTheme/js/jquery.nicescroll.js"></script>
    <script src="~/AdminPageTheme/js/scripts.js"></script>

    <script type="text/javascript" src="~/AdminPageTheme/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>
